@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');

:root {
  --primary-font: 'Pacifico', cursive;
  --secundary-font: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
}
a {
  text-decoration: none;
}
.img {
  width: 100%;
  object-fit: cover;
}

.btn {
  height: 70px;
  min-width: 140px;
  letter-spacing: 0.3rem;
  text-decoration: none;
  background: #fff;
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  border: 2px solid #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .btn {
    height: 50px;
    min-width: 104px;
    font-size: 1rem;
  }
}
